<div class="row">
    <div class="col-md-12">
        <div class="row view-header map">
            <div class="col-md-12">
                <h1>Displaying all maps</h1>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-7 sort-bar">
        <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="sort = 'name'">Name</button>
        <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="sort = 'tier'">Tier</button>
        <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="sort = 'player_id'">Player</button>
        <input ng-model="searchMap" class="inputdark pull-right" placeholder="Search Map..."/>
    </div>
    <div ng-repeat="map in maps | orderBy:sort | filter:searchMap | limitTo:max" class="col-md-3 col-sm-6 widgetanim" scroll repeatprogress>
        <div class="mapwidget">
            <div class="title">
                <a ng-href="#/map/{{map.id}}">{{map.name}}</a>
                <span>{{map.tier}}</span>
            </div>
            <div class="info" ng-if="map.duration > 0">
                <a ng-href="#/player/{{map.player_id}}">{{map.pname | limitTo:20:0}}</a>
                <span class="time">{{map.duration | secondsToDateTime | date:'mm:ss.sss'}}</span>
            </div>
        </div>
    </div>
</div>