<div class="row singlenews">
	<div class="col-md-12">
		<div class="row news">
			<div class="col-md-12 title">
				<span class="newstitle" editable-text="post.title" e-form="editnews" onbeforesave="editTitle($data)" ng-hide="editnews.$visible">{{post.title}}</span>
				<span class="comment-date pull-right" am-time-ago="post.timestamp | secondsToDateTime"></span>
			</div>
			<div class="col-md-12">
				<div btf-markdown="post.body" class="newsbody" editable-textarea="post.body" e-form="editnews" e-rows="20" e-cols="60" onbeforesave="edit($data)" ng-hide="editnews.$visible">
				</div>
			</div>
			<div class="editcont pull-right" ng-if="isAdmin">
		    	<div class="editbar">
		    		<a ng-click="editnews.$show()" ng-hide="editcomment.$visible">Edit</a>
		    		&nbsp;&nbsp;&nbsp;<a ng-click="delete()">Delete</a>
		    	</div>
		    </div>
		</div>
	</div>
	<div class="col-md-12">
        <comment-area></comment-area>
    </div>
</div>