<div class="row reportspage" scroll>
	<div class="col-md-12">
        <div class="row view-header newspage">
            <div class="col-md-12">
                <h1>Recent reported record</h1>
            </div>
        </div>
    </div>
    <div class="col-md-12">
    	<div class="col-md-6 report" ng-repeat="report in reports">
    		<div class="mapwidget">
	    		<div class="title col-md-12">
	    			<a ng-href="#/report/{{report.id}}" class="pull-left">
	    				Report #{{report.id}}
	    			</a>
	    			<div class="pull-right comment-date">Reported by
		    			<a ng-href="#/player/{{report.player_id}}">
		    				{{report.pname}}
		    			</a>
		    			<span am-time-ago="report.date | secondsToDateTime"></span>
		    		</div>
	    		</div>
	    		<div class="col-md-12">
	    			<a ng-href="#/player/{{report.reported_player_id}}">
	    				{{report.rpname}}
	    			</a> on 
	    			<a ng-href="#/map/{{report.map_id}}">{{report.mname}}</a>
	    			<span ng-if="report.run_id > 0">Bonus {{report.run_id}}</span>
	    			<span ng-if="report.stage_id > 0">{{report.sname}}</span>
	    			with time <a ng-href="#/pr/{{report.map_id}}/{{report.reported_player_id}}">{{report.duration | secondsToDateTime | date:'mm:ss.sss'}}</a>
	    		</div>

	    		<div btf-markdown="report.reason" class="col-md-12"></div>
	    		<div class="comment-date pull-right" ng-if="!isAdmin">
		    		Status : 
		    		<span ng-if="report.status==0">Pending</span>
		    		<span ng-if="report.status==1">Action taken</span>
		    		<span ng-if="report.status==2">No action taken</span>
		    	</div>
	    	</div>
    	</div>
    </div>
</div>