<div class="row rulesview">
    <div class="col-md-12">
        <div class="row view-header rules">
            <div class="col-md-12">
                <h1>Rules</h1>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="rule">
            <div class="title"><div>1</div><p>Timescaling, lagging, cheating records</p></div>
            <div class="desc">
                Any kind of timescaling, lagging or cheating on any record will result in a permanent ban immediately without warning.
            </div>
        </div>
    </div>    
    <div class="col-md-8 col-md-offset-2">
        <div class="rule">
            <div class="title"><div>2</div><p>Exploiting</p></div>
            <div class="desc">
                If a player finds an exploit in a map that has been never found for example; glitched boosts, getting on top of a stage, lamp bhop etc. then it should be reported to an admin immediately.
Breaking a record with a new exploit will result in a possible permanent ban without warning.
            </div>
        </div>
    </div>    
    <div class="col-md-8 col-md-offset-2">
        <div class="rule">
            <div class="title"><div>3</div><p>Preboosting, prehopping, doubleboosting</p></div>
            <div class="desc">
                Any kind of preboost, prehop or doubleboost on a map which has a velocity cap will result in a possible permanent ban without warning.
            </div>
        </div>
    </div>    
    <div class="col-md-8 col-md-offset-2">
        <div class="rule">
            <div class="title"><div>4</div><p>Modifying your client</p></div>
            <div class="desc">
               Any kind of client modification to gain an unfair advantage for example: Speedhacking, cvar bypassing and so on will result immediately in a permanent ban without warning.  
            </div>
        </div>
    </div>    
    <div class="col-md-8 col-md-offset-2">
         <div class="rule">
            <div class="title"><div>5</div><p>Crouchboosting</p></div>
            <div class="desc">
               Any kind of crouchspamming to hit a push trigger multiple times will result in a possible permanent ban without warning. 
            </div>
        </div>
    </div>    
    <div class="col-md-8 col-md-offset-2">
        <div class="rule">
            <div class="title"><div>6</div><p>Multiple accounts</p></div>
            <div class="desc">
                You are not allowed to finish in any top10, or else all accounts will result in a ban up to a permanent ban except the main account without warning.
            </div>
        </div>
    </div>    
    <div class="col-md-8 col-md-offset-2">
        <div class="rule">
            <div class="title"><div>7</div><p>Spamming</p></div>
            <div class="desc">
                Any kind of voice or say chat spam will result with a warning, a kick or even a possible ban.
            </div>
        </div>
    </div>    
    <div class="col-md-8 col-md-offset-2">
        <div class="rule">
            <div class="title"><div>8</div><p>Negative attitude</p></div>
            <div class="desc">
                Repeatedly negative attitude and/or toxic behaviour will result in a kick or possible permanent ban without warning.
            </div>
        </div>
    </div>    
</div>