<div class="row" ng-repeat="server in servers">
	<div class="col-md-12">
		<div class="row view-header server">
	        <div class="col-md-12">
                <a href="steam://connect/{{server.serverinfo.address}}:{{server.serverinfo.port}}
">
	               <h1>{{server.info.HostName}}<br/>{{server.serverinfo.address}}:{{server.serverinfo.port}}</h1>
               </a>
	        </div>
	    </div>
	</div>
	<div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="stwidget" style="height:auto!important;max-height:auto!important;">
                    <div class="title wr">Online Players</div>
                    <div>
                        <ul class="timelist">
                            <li ng-repeat="player in server.players | orderBy:name | filter:'!Map WR' | filter:'!Stage WR' | filter:'!Bonus WR'" class="listanim">
                                <a ng-href="#/player/{{player.id}}">{{player.Name}}</a>
                                <span class="time">{{player.TimeF}}</span> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 serverinfo">
            	<div class="stwidget">
		            <span class="curmap">Map : <a ng-href="#/map/{{server.mapid}}">{{server.info.Map}}</a></span><br/>
		            <span class="nextmap">Next Map : <a ng-href="#/map/{{server.nextmapid}}">{{server.rules.sm_nextmap}}</a></span><br/>
		            <span class="playeronline">Online : {{server.players.length - 3}}/21</span>
		        </div>
	        </div>
        </div>
    </div>
</div>