<div>
  <div class="row commentcont"  ng-if="canComment">
      <div class="col-md-6">
          <h2>Comment</h2>
          <form>
              <textarea rows="5" class="commentarea" ng-model="form.newcomment" placeholder="Comment that map... (You can use Markdown)">
              </textarea>
          </form>
      </div>
      <div class="col-md-6">
          <h2>Post Preview</h2>
          <div class="postpreview"  btf-markdown="form.newcomment"></div>
      </div>
      <div class="col-md-12">
          <button ng-click="sendComment()" class="sendbtn">Send</button>
      </div>
  </div>
  <comments comment-data="comments"></comments>
</div>
